# Environments
.env
.env.*
!.env.example
venv/
env/
__pycache__/
*.pyc

# Node
node_modules/
.next/
out/
build/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.iml
.DS_Store
